<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      .btnc
      {
        margin-right: 10px;
      }
      {% block style %}{% endblock %}
    </style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript">
		{% block script %}{% endblock %}s
	</script>s

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weightы-normal">Robo.Grade Industries Team</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Главная</a>
          <a class="p-2 text-dark" href="#">Наша команда</a>
            {% if logged %}
            <a class="p-2 text-dark" href="create">Создать запрос</a>
            <a class="p-2 text-dark" href="listArticles">Запросы</a>
            {% endif %}


        </nav>
        {% if logged %}
        <a class="btn btn-outline-primary btnc" href="#">{% block username %}{% endblock %}</a>
        {% endif %}
        <a class="btn btn-outline-primary" href="register">Регистрация</a>
      </div>
        {% block content %} {% endblock %}
      </body>
</html>